<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to YouMe3D
            </h1>
        </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive" src="http://i.kinja-img.com/gawker-media/image/upload/f8jhtc19cvs5zxiacjvd.jpg">
        </div>
    </div>
</div>
<!-- /.container -->
<br>
        <div class="jumbotron">
                    <h2>Create & sell 3d objects you can be proud of
                    </h2>
                    <p>Sell high-quality 3d objects with zero upfront costs and zero risk. We ship directly to buyers, you keep the profit.</p>
                    <a href="
                    <% if current_designer %>
                    <%= new_product_path %>
                    <% else %>
                    <%= new_designers_path %>
                    <% end %>
                    " class="btn btn-block btn-lg btn-success">Get Started</a>
                </div>
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Call to Action Here (Launch Campaign)</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
             <canvas id="cv" width=550 height=368>
    It seems you are using an outdated browser that does not support canvas :-(
    </canvas>
    <script type="text/javascript">
        var viewer = new JSC3D.Viewer(document.getElementById('cv'));
        viewer.setParameter('SceneUrl',         '<%= @campaigns.first.product.object.url.gsub(/\?.*/, '') %>');
        viewer.setParameter('ModelColor',       '#0065ca');
        viewer.setParameter('BackgroundColor1', '#f2f2f2');
        viewer.setParameter('RenderMode',       'texturesmooth');
        viewer.setParameter('CreaseAngle', '20');
        viewer.setParameter('Renderer', 'webgl');
        viewer.setParameter('Definition', 'high');
        viewer.setParameter('Background', 'off');
        viewer.init();
        viewer.update();
    </script>
    </div>
        <div class="col-md-6">
        <div class="jumbotron">
        <br><br>
            <h4>YouMe3D is the 100% free way to sell high-quality 3D printed objects.</h4>
            <p>Just design a 3D object, upload it, set a price, add a goal and start selling! Collect enough pre-orders and we'll print & ship directly to buyers, you keep the profit!</p>
            <br><br>
            </div>


</div>
    </div>

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <h3>Shop Trending Objects!</h3>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="<%= campaigns_path %>">Explore Campaigns!</a>
            </div>
        </div>
    </div>

    <hr>

    <!-- Portfolio Section -->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Featured Campaigns</h2>
        </div>
        <% @campaigns.each do |campaign| %>
        <div class="col-md-4 col-sm-6">
         <%= link_to campaign do %>
         <%= image_tag campaign.product.image.url , class: "img-responsive img-thumbnail" %>
         <% end %>
         <br><br>
     </div>
     <% end %>
     </div>
</div>
<!-- /.container -->

