<div class="wrapper-inside">
<%= form_for [@campaign, @order], html: { class: "basic-grey" } do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@order.errors.count, "error") %>
        prohibited this order from being saved:
      </h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :campaign_id, value: @campaign.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :order_id, value: @order.id %>
  </div>
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :zip_code %>
  </div>
  <p>
    <%= f.submit "Purchase" , id: "customButton" %>
  </p>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: '/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    shippingAddress: 'true',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'we3d',
      description: "<%= @campaign.title %>",
      amount: "<%= @campaign.price*100 %>"
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
<% end %>
</div>

