= form_for @order, html: { class: "basic-grey" } do |f|
      - if @order.errors.any?
        #error_explanation
          %h2
            = pluralize(@order.errors.count, "error")
            prohibited this order from being saved:
          %ul
            - @order.errors.full_messages.each do |message|
              %li= message
      .field
        = f.hidden_field :campaign_id, value: @campaign.id
      .field
        = f.hidden_field :order_id, value: @order.id
      .field
        = f.label :full_name
        = f.text_field :full_name
      .field
        = f.label :company
        = f.text_field :company
      .field
        = f.label :telephone
        = f.text_field :telephone
      .actions
        %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
              data: {amount: @campaign.price*100, description: @campaign.title, key: Rails.application.secrets.stripe_publishable_key}}
