<%= form_for(@campaign, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
   <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.datetime_field :length %>
  </div>
   <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <p>
<%= f.submit %>
</p>
<% end %>
