<% if current_designer %>
<%= form_for(@campaign) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
   <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :length %>
    <%= f.date_field :length %>
  </div>
   <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <%= f.hidden_field :product_id %>
  <% end %>

  <% elsif current_supplier %>
  <%= form_for(@campaign) do |f| %>
   <div class="field">
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>



  <p>
<%= f.submit %>
</p>
 <% end %>
<% end %>
