<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Description</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Length</strong>
  <%= @campaign.length %>
</p>

<p>
  <strong>Price</strong>
  <%= @campaign.price %>
</p>

