<%= form_for(@product, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_image %>
    <%= f.file_field :product_image %>
  </div>
  <div class="actions">
    <%= f.submit 'Create a Product' %>
    <%= link_to 'Nevermind', products_path, class: 'button' %>
  </div>
  <div class="field">
    <%= f.label :x %>
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :z %>
    <%= f.text_field :z %>
  </div>
<% end %>

