<!DOCTYPE html>
<html>

<head>
  <title>We3D</title>

  <%# Bootstrap Styling %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <%# Bootstrap Javascript %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <%= csrf_meta_tags %>
</head>

<body>
<%# Floating NavBar %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home</a></li>
        <% if current_designer %>
        <li><a href="/designer_dashboard">Dashboard</a></li>
        <li><a href="/products/new">Get Started</a></li>
        <% elsif current_supplier %>
        <li><a href="/supplier_dashboard">Dashboard</a></li>
        <% end %>
        <% if current_designer || current_supplier %>
        <% else %>
        <li><a href="/designers/new">Become a Designer</a></li>
        <li><a href="/suppliers/new">Become a Supplier</a></li>
         <% end %>
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <% if current_designer || current_supplier %>
        <li><a href="<%='/logout'%>">Logout</a></li>
        <% else %>
        <li><a href="<%= new_sessions_path %>"> Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%# Views %>
<%= yield %>

<footer>
    <div class="container">
        <div class="row">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; YouMe3D 2015</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-github-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
                <li><a href="#">Help Guide</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</footer>

</body>
</html>
