<!DOCTYPE html>
<html>
<head>
  <title>We3d</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_designer || current_supplier || current_customer %>
 <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %>
<% end %>

<%= yield %>

</body>
</html>
